<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user/private">StevensOrg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        {{#if login}}
        <li class="nav-item active">
          
          <a class="nav-link" href="/user/private">Home

            <span class="sr-only">(current)</span>
          </a>
          

        </li>
        {{/if}}
        {{#if login}}
        <li class="nav-item">
         
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departments
            </button>
            <div class="dropdown-menu dropdown-menu-right">

              <button class="dropdown-item" type="button" onclick="displayDeptWiseEvent('CSE');">CS</button>

              <button class="dropdown-item" type="button" onclick="displayDeptWiseEvent('MIS');">MIS</button>

              <button class="dropdown-item" type="button" onclick="displayDeptWiseEvent('BIA');">BIA</button>
              <button class="dropdown-item" type="button" onclick="displayDeptWiseEvent('CE');">CE</button>

            </div>
            
          </div>
        </li>
        
        <li class="nav-item">
          
          <a class="nav-link" href="/user/tickets/">Tickets</a>
          
        </li>
        {{/if}}
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Managment
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          {{# if login}}
          <button class="dropdown-item" type="button" onclick="location.href='/user/updateUser';">User Account</button>
          <div class="divider"></div>
          <button class="dropdown-item" type="button" onclick="location.href='/user/logout';">Logout</button>
          {{ else }}
          <button class="dropdown-item" type="button" onclick="location.href='/user/signup';">SignUp</button>
          <button class="dropdown-item" type="button" onclick="location.href='/user/login';">Login</button>
          {{/if}}
        </div>
      </div>

    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous
"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/validation.js"></script>
  <div class="container">
    {{{body}}}
  </div>

  <footer class="page-footer center-on-small-only blue-grey lighten-5 pt-0">

    <div style="background-color: #f8f9fa!important;">
      <div class="container">
        <!--Grid row-->
        <div class="row py-4 d-flex align-items-center" style="margin-top: 1%;">

          <!--Grid column-->
          <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text text-center text-md-left">
              <strong>Get connected with us on social networks!</strong>
            </h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-12 col-md-7 text-center text-md-right">
            <!--Facebook-->
            <a href="www.facebook.com" class="icons-sm fb-ic ml-0">
              <i class="fa fa-facebook white-text mr-lg-4"> </i>
            </a>
            <!--Twitter-->
            <a href="www.twitter.com" class="icons-sm tw-ic">
              <i class="fa fa-twitter white-text mr-lg-4"> </i>
            </a>
            <!--Google +-->
            <a href="www.google.com" class="icons-sm gplus-ic">
              <i class="fa fa-google-plus white-text mr-lg-4"> </i>
            </a>
            <!--Linkedin-->
            <a href="www.linkedin.com" class="icons-sm li-ic">
              <i class="fa fa-linkedin white-text mr-lg-4"> </i>
            </a>
            <!--Instagram-->
            <a href="www.instagram" class="icons-sm ins-ic">
              <i class="fa fa-instagram white-text mr-lg-4"> </i>
            </a>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">

        <!--First column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-r dark-grey-text">
          <h6 class="title font-bold">
            <strong>CS546 - StevensOrg</strong>
          </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>This is the event Organization website created as the project for the CS546 - WebProgramming Course.</p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
          <h6 class="title font-bold">
            <strong>Pages</strong>
          </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="dark-grey-text">Events</a>
          </p>
          <p>
            <a href="#!" class="dark-grey-text">Departments</a>
          </p>

        </div>
        <!--/.Second column-->

        <!--Third column-->

        <!--/.Third column-->

        <!--Fourth column-->
        <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
          <h6 class="title font-bold">
            <strong>Contact</strong>
          </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Stevens Institute of Technology 1 Castle Point Terrace Hoboken, NJ</p>

          <p>
            <i class="fa fa-envelope mr-3"></i>
            <a href="mailto:kthai@stevens.edu"> Koushik Thai </a>
          </p>
          <p>
            <i class="fa fa-envelope mr-3"></i>
            <a href="mailto:kkandhas@stevens.edu"> Karan Prabu Kandhaswamy </a>
            </p>
          <p>
            <i class="fa fa-envelope mr-3"></i>
            <a href="mailto:alakshm1@stevens.edu">Abishek Lakshmirathan </a>
          </p>
            <i class="fa fa-print mr-3"></i> + 409 - 217 - 9925</p>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright" style="text-align:center;">
      <div class="container-fluid">
        © 2017 Copyright:
        <a href="https://www.stevens.edu">
          <strong> Stevens.edu</strong>
        </a>
      </div>
    </div>
    <!--/.Copyright -->

  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>