
/*.footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;	
}*/
/*
.radio-button{
  display: none;
}

.radio-button+label{
  color: #EFEFEF;
  padding: 1em 0;
  text-align: center;
  display: inline-block;
  float: left;
  width: 3em;
  height: 1em;
  background-color: #9D9D9D;
  box-shadow: inset 0 0 1em 0.1em #797979;
}

.radio-button:checked + label{
  background-color: #0061AE;
  /*box-shadow: 0 0 0 0.1em #797979;
  box-shadow: none;
}

.radio-wrapper label:first-of-type{
  border-radius: 0.5em 0 0 0.5em;
}

.radio-wrapper {
	display: inline-block;
}
.radio-wrapper label:last-of-type{
  border-radius: 0 0.5em 0.5em 0;	
}

 #container {
        max-height: calc(100% - 120px);
        overflow-y: scroll;
        padding: 0px 10% !important;
        margin-top: 60px !important;
    }

 */