<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Forgot Password ?</h1>
        <form action="/user/forgot" method="post">
           <div class="form-group">
                <lable for="username">E-mail</lable>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</div>