<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign In!!</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p style="color:red;">{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/login" method="post">
           <div class="form-group">
                <lable for="username">Username</lable>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            
            <div class="form-group">
                <lable for="password">Password</lable>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>

        <button type="submit" class="btn btn-primary" onclick="location.href='/user/forgot';">Forgot Password</button>
     
     </div>
</div>