<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Reset Password !!</h1>
        <form action="/user/resetPassword" method="post">
            <div class="form-group">
                <lable for="username">Username</lable>
                <input type="text" id="username" name="username" class="form-control">
            </div>
           <div class="form-group">
                <lable for="password">Password</lable>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <lable for="confirmpassword">Confirm Password</lable>
                <input type="password" id="confpassword" name="confpassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</div>