<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up!!</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form id="contactForm" action="/user/signup" method="post" data-toggle="validator">
        <label class="nav-link disabled">*All fields are required</label>
           <div class="form-group">
                <lable for="email">E-mail</lable>  <small id="emailHelp" class="form-text text-muted">Your email will be your usename</small>
                <input type="text" id="email"  name="email" class="form-control" data-error="Bruh, that email address is invalid" required>
                <div class="help-block with-errors"></div>
            </div>
            
            <div class="form-group">
                <lable for="password">Password</lable>
                <input type="password" id="password" name="password" data-minlength="6" maxlength="15" class="form-control" required>
                <div class="help-block">Minimum of 6 characters</div>
                <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="firstname">First Name</lable>
                <input type="firstname" id="firstname" name="firstname" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="lastname">Last Name</lable>
                <input type="lastname" id="lastname" name="lastname" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="address">Address</lable>
                <input type="address" id="address" name="address" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="phone">Phone Number</lable>
                <input type="number" maxlength = 10 id="phone" name="phone" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>
            <div class="form-group">
                <lable for="department">Department</lable>
                <input type="department" id="department" name="department" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        
     </div>
</div>