<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up!!</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <label class="nav-link disabled">*All fields are required</label>
           <div class="form-group">
                <lable for="email">E-mail (Username) </lable>
                <input type="text" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  name="email" class="form-control" required>
            </div>
            
            <div class="form-group">
                <lable for="password">Password</lable>
                <input type="password" id="password" name="password" data-minlength="6" maxlength="15" class="form-control" required>
                <div class="help-block">Minimum of 6 characters</div>
            </div>

            <div class="form-group">
                <lable for="firstname">First Name</lable>
                <input type="firstname" id="firstname" name="firstname" class="form-control" required>
            </div>

            <div class="form-group">
                <lable for="lastname">Last Name</lable>
                <input type="lastname" id="lastname" name="lastname" class="form-control" required>
            </div>

            <div class="form-group">
                <lable for="address">Address</lable>
                <input type="address" id="address" name="address" class="form-control" required>
            </div>

            <div class="form-group">
                <lable for="phone">Phone Number</lable>
                <input type="phone" id="phone" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
                <lable for="department">Department</lable>
                <input type="department" id="department" name="department" class="form-control" required>
            </div>

           <!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}">-->
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        
     </div>
</div>