<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>User Info Edit!!</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form id="contactForm" action="/user/updateUser" method="post" data-toggle="validator">
        <label class="nav-link disabled"></label>
           
            
            
            <div class="form-group">
                <lable for="firstname">First Name</lable>
                <input type="firstname" id="firstname" name="firstname" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="lastname">Last Name</lable>
                <input type="lastname" id="lastname" name="lastname" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="address">Address</lable>
                <input type="address" id="address" name="address" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>

            <div class="form-group">
                <lable for="phone">Phone Number</lable>
                <input type="number" maxlength = "10"  minlength= "10" id="phone" name="phone" class="form-control" required>
                 <div class="col-xs-5 messageContainer"></div>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <label> {{user.department}}</label>
                <div class="col-xs-5 messageContainer"></div>
            </div>

            <button type="submit" class="btn btn-primary" >Save Changes</button>
        </form>
        
     </div>
</div>